body {
  background-color: rgb(119, 119, 124);
  /* background: linear-gradient(360deg, rgba(71,71,71,1) 0%, rgba(183,183,190,1) 85%); */
}
.gradient {
  background-image: url("https://static.tildacdn.com/tild3031-6530-4166-b939-333636643137/OD6A2838.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
body::-webkit-scrollbar {
  width: 15px;
  background-color: #f9f9fd;
}
body::-webkit-scrollbar-thumb {
  background-color: #768c9c;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}
h3 {
  font-family: Roboto Serif;
  border-bottom: 1px solid grey;
}
.show {
  opacity: 1;
  transform: translateY(0);
}
.wrap {
  padding-top: 30px;
  height: 100px;
  width: 400px;
}
.title {
  position: relative;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  transition: 0.5s;
}
.title:hover {
  transform: scale(1.1);
}
.card-body {
  height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  overflow-y: auto;
  position: relative;
}
.card-body::-webkit-scrollbar {
  width: 15px;
  background-color: #f9f9fd;
}
.card-body::-webkit-scrollbar-thumb {
  background-color: #768c9c;
}
.card-body::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}
.film-Preview {
  height: 550px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.bd-mode-toggle {
  z-index: 1500;
}

.summaryWrapper {
  height: 200px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

#rowContainer {
  min-height: 300px;
}
.image {
  width: 100%;
  object-fit: cover;
  height: 250px;
}
